{% extends 'blog/base.html' %}
{% load static %}
{% block title %} Tao Recovery {% endblock %}

{% block content %}
<div class="home-page">
    <div class="jumbotron">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">A virtual space for cultivation of the Tao. Is the Tao your Higher Power?</p>
        <hr class="my-4">
        <p>Explore verses of Tao wisdom and read commentary aimed at inspiration.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}" role="button">Recent Posts</a>
            <a class="btn btn-primary btn-lg" href="{% url 'random_post' %}" role="button">Spin the Wheel (Random)</a>
        </p>
    </div>
</div>
{% endblock %}