{% load staticfiles %}
{% load static %}

<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>Tao Recovery</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">

</head>

<body>
	<!-- TOP 50% -->
	<div class="row">
	   <div id="grid1"></div>
	   <div id="grid2"></div>
	</div>

	<!-- BOT 50% -->
	<div class="row">
	   <div id="grid3"></div>
	   <div id="grid4"></div>
	</div>
    <div class="container">
        <a target="_blank" href=""><div id="yin-yang"></div></a>
    </div>
    <div id="triangle">
        
    </div>
    <div>
        <a class="color" href=""><h1 id="site-title">Welcome to Tao Recovery</h1></a>
        <div id="entry"><a href="{% url 'home' %}">Enter Site</a></div>
    </div>

<footer>
    <h3>Website brought to you by <a  class="color" href="https://www.twitter.com/_ronnieearl" target="_blank">@_RonnieEarl</a> from <a  class="color" href="http://www.sobrietyfreedom.com" target="_blank">http://www.sobrietyfreedom.com</a></h3>
</footer>

</body>
</html>
