{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="container-fluid post">            
            <h1><a href="">{{ post.title }}</a></h1>
            <div class="container-fluid publish">
                <p>Post by: {{ post.author }}</p>
                <p>Created on: {{ post.created_date }}</p>
                <p>Published on: {{ post.published_date }}</p>
            </div>
            <div class="container-fluid post_verse">
                <h2>{{ post.verse_title }}</h2>
                <p>{{ post.verse }}</p><hr>
                <p>Source:{{ post.source }}</p>
                <p>Authors:{{ post.source_authors }}</p>
                <p>Translators(if applicable): {{ post.source_translators }}</p>
            </div>
            <div class="container-fluid post_commentary">
                <h2>{{ post.commentary_title }}</h2>
                <p>{{ post.commentary }}</p>
            </div>
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="% url 'post-list' %" role="button">Keep Cultivating</a>
        </p>
    {% endfor %}
{% endblock %}

