{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="container-fluid post">            
            <h1><a href="">{{ post.title }}</a></h1>
            <div class="container-fluid publish">
                <p>Post by: {{ post.author }}</p>
                <p>Created on: {{ post.created_date }}</p>
                <p>Published on: {{ post.published_date }}</p>
            </div>
            <div class="container-fluid post_verse">
                <h2>{{ post.verse_title }}</h2>
                <p>{{ post.verse }}</p><hr>
                <p>Source:{{ post.source }}</p>
                <p>Author:{{ post.source_author }}</p>
                <p>Translator(if applicable): {{ post.source_translator }}</p>
            </div>
            <div class="container-fluid post_commentary">
                <h2>{{ post.commentary_title }}</h2>
                <p>{{ post.commentary }}</p>
            </div>
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="% url 'post-list' %" role="button">Keep Cultivating</a>
        </p>
    {% endfor %}
{% endblock %}

<!--
    post_id = AutoField()
    title = models.CharField(max_lenth=100)
    verse_title = models.CharField(max_lenth=100)
    verse = models.TextField()
    commentary_title = models.CharField(max_length=200)
    commentary = models.TextField()
    created_date = models.DateTimeField(default=timezone.now)
    published_date = models.DateTimeField(blank=True, null=True)
# Relationships to other models
    source_author = models.ForeignKey('Writer', on_delete=models.SET_NULL, null=True)
    source_translator = models.ForeignKey('Writer', on_delete=models.SET_NULL, null=True)
    source = models.ForeignKey('Book', on_delete=models.SET_NULL, null=True)
    author = models.ForeignKey('auth.User', on_delete=models.SET_NULL, null=True)
-->