{% extends 'blog/base.html' %}
{% load static %}
{% block title %}{{ writer.last_name }}{% endblock %}

{% block content %}


		<div class="card">
          <div class="card-header">
            <span>Author: {{ writer.first_name }} {{ writer.last_name }}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ writer.year_of_birth }} - {{ writer.year_of_death }}</h5>
            <p class="card-text"> {{ writer.summary }} </p>
            <a href="{% url 'writer_list' %}" class="btn btn-primary">Back to All Authors</a>
          </div>
        </div>
        <p class="mt-5 mx-auto">
            <a class="btn btn-primary btn-lg" href="{% url 'random_post' %}" role="button">Keep Cultivating</a>
        </p>
        
{% endblock %}

