/*Page*/

html {
    min-width: 395px;
}

#footer {
	position:fixed;
    left:0px;
    bottom:0px;
    height:2.1em;
    width:100%;
    color: #fff;
    text-align: center;
    margin: 5px auto;
    font-size: 1.2em;
}
.content {
    margin: 2em 1em 5em 1em;
}
textarea, input {
    display: block;
}
/*Header*/
#logo {
	background-color: red;
}
#logo {
	-webkit-animation: b-color 20s infinite; /* Chrome, Safari, Opera */
    animation: b-color 20s infinite;
}
/*Home*/

.sub-lead {
	margin: 20px auto;
    font-size: 1.5em;
}

.jumbotron {
	max-width: 95%;
	margin-right: 5%;
    background: url('../img/helix-nebula.jpg') no-repeat #eee;
    color: white;
}
.jumbotron::after {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
span.color-change {
    -webkit-animation: color 20s infinite; /* Chrome, Safari, Opera */
    animation: color 20s infinite;
}
/*Fonts*/
.spectral {
    font-family: 'Spectral SC', serif;
}
.shadows {
    font-family: 'Shadows Into Light', cursive;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes color {
    0%   {color: red;}
    14%  {color: orange;}
    28%  {color: yellow;}
    42%  {color: green;}
    56%  {color: blue;}
    70%  {color: indigo;}
    85%  {color: violet;}
    100% {color: red;}
}

/* Standard syntax */
@keyframes color {
    0%   {color: red;}
    14%  {color: orange;}
    28%  {color: yellow;}
    42%  {color: green;}
    56%  {color: blue;}
    70%  {color: indigo;}
    85%  {color: violet;}
    100% {color: red;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes b-color {
    0%   {background-color: red;}
    14%  {background-color: orange;}
    28%  {background-color: yellow;}
    42%  {background-color: green;}
    56%  {background-color: blue;}
    70%  {background-color: indigo;}
    85%  {background-color: violet;}
    100% {background-color: red;}
}

/* Standard syntax */
@keyframes b-color {
    0%   {background-color: red;}
    14%  {background-color: orange;}
    28%  {background-color: yellow;}
    42%  {background-color: green;}
    56%  {background-color: blue;}
    70%  {background-color: indigo;}
    85%  {background-color: violet;}
    100% {background-color: red;}
}

/*Post Detail*/
.card {
	margin-top: 25px;
	max-width: 90%;
}
.card-image {
	max-width: 128px;
	height: auto;
}
#FrameOne, #FrameTwo {
    min-height: 350px;
}

/* IE 6 */



/***Tags***/

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

/***Navbar***/
.navbar {
    background: #000;
}
.nav-item a {
    color: #868e96;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.5);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255,255,255,0.5);
}
.navbar-dark .navbar-nav .nav-link.disabled:hover {
    color: rgba(255,255,255,1.0);
}
.navbar-dark .navbar-brand {
    color: green;    
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    font-size: 1.1em;
}
.navbar-brand {
    font-size: 1.5em;
    font-family: 'Spectral SC', serif;
}


/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.99px) {  
	.home-btn {
		margin-top: 20px;
		
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.99px) { 
	.display-3 {
		font-size: 3rem;
	 }
	#footer {
		color: #fff;
		text-align: center;
		margin: 3px;
		font-size: .6em;
	}

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.99px) {  }

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.99px) {  }

/*Extra large devices (large desktops)*/
// No media query since the extra-large breakpoint has no upper bound on its width

