/***Tags***/

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

/***Navbar***/

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255,255,255,0.5);
}
.navbar-dark .navbar-nav .nav-link.disabled:hover {
    color: rgba(255,255,255,1.0);
}
.navbar-dark .navbar-brand {
    color: green;    
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    font-size: 1.2em;
}
.navbar-brand {
    font-size: 1.5em;
    font-family: 'Spectral SC', serif;
}
