/*Page*/

html {
    min-width: 395px;
}

#footer {
	position:fixed;
    left:0px;
    bottom:0px;
    height:2.1em;
    width:100%;
    color: #fff;
    text-align: center;
    margin: 5px auto;
    font-size: 1.2em;
}
.content {
    margin: 2em 1em 5em 1em;
}
textarea, input {
    display: block;
}
/*Post Detail*/
.card {
	margin-top: 25px;
	max-width: 90%;
}


/* IE 6 */



/***Tags***/

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

/***Navbar***/

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255,255,255,0.5);
}
.navbar-dark .navbar-nav .nav-link.disabled:hover {
    color: rgba(255,255,255,1.0);
}
.navbar-dark .navbar-brand {
    color: green;    
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
    font-size: 1.2em;
}
.navbar-brand {
    font-size: 1.5em;
    font-family: 'Spectral SC', serif;
}


/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.99px) { ... }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.99px) { 
.display-3 {
    font-size: 3rem;
  }
#footer {
    color: #fff;
    text-align: center;
    margin: 3px;
    font-size: .6em;
}

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.99px) { ... }

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.99px) { ... }

/*Extra large devices (large desktops)*/
// No media query since the extra-large breakpoint has no upper bound on its width

